p {
    color: cyan;
    background-color: darkmagenta;
}

#ids {
display: block;
background-color: darkred;
}

.class {
color: hotpink;
text-decoration-line: underline;

}

.s1 {
color: lightgreen;
text-decoration-line: overline;
}

.s2 {
text-decoration-style: wavy;

}